.kek{
    background-color:rgb(124, 163, 221);
}
.piros{
    background-color:rgb(245, 27, 27);
}
table,th,td{
    text-align: center;
    border: 2px solid black;
}
tr:hover{
    background-color: yellow;
}